*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'SF Pro Display Medium', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 1.47059;
    letter-spacing: -.022em;
    background-color: var(--light);
    color: var(--glyph-gray-override);
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    user-select: none;
}

body,
input,
textarea,
select,
button {
    font-style: normal;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--glyph-gray-override)
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
    display: block;
    margin: 0
}

h1+*,
h2+*,
h3+*,
h4+*,
h5+*,
h6+* {
    margin-top: .8em
}

h1+h1,
h1+h2,
h1+h3,
h1+h4,
h1+h5,
h1+h6,
h2+h1,
h2+h2,
h2+h3,
h2+h4,
h2+h5,
h2+h6,
h3+h1,
h3+h2,
h3+h3,
h3+h4,
h3+h5,
h3+h6,
h4+h1,
h4+h2,
h4+h3,
h4+h4,
h4+h5,
h4+h6,
h5+h1,
h5+h2,
h5+h3,
h5+h4,
h5+h5,
h5+h6,
h6+h1,
h6+h2,
h6+h3,
h6+h4,
h6+h5,
h6+h6 {
    margin-top: .4em
}

p+h1,
ul+h1,
ol+h1,
p+h2,
ul+h2,
ol+h2,
p+h3,
ul+h3,
ol+h3,
p+h4,
ul+h4,
ol+h4,
p+h5,
ul+h5,
ol+h5,
p+h6,
ul+h6,
ol+h6 {
    margin-top: 1.6em
}


ul,
ol {
    margin-left: 1.17647em
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-top: 0;
    margin-bottom: 0
}

nav ul,
nav ol {
    margin: 0;
    list-style: none
}

li li {
    font-size: 1em
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: center;
}

a{
    text-decoration: none;
    color: var(--fill-tertiary);
}