@font-face {
  font-family: 'SF Pro Display Black';
  src: url('San-Francisco/SF-Pro-Display-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Black';
  src: url('San-Francisco/SF-Pro-Display-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('San-Francisco/SF-Pro-Display-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('San-Francisco/SF-Pro-Display-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display Heavy';
  src: url('San-Francisco/SF-Pro-Display-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Heavy';
  src: url('San-Francisco/SF-Pro-Display-HeavyItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display Light';
  src: url('San-Francisco/SF-Pro-Display-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Light';
  src: url('San-Francisco/SF-Pro-Display-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('San-Francisco/SF-Pro-Display-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Medium';
  src: url('San-Francisco/SF-Pro-Display-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('San-Francisco/SF-Pro-Display-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('San-Francisco/SF-Pro-Display-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url('San-Francisco/SF-Pro-Display-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url('San-Francisco/SF-Pro-Display-SemiboldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display Thin';
  src: url('San-Francisco/SF-Pro-Display-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Thin';
  src: url('San-Francisco/SF-Pro-Display-ThinItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display Ultralight';
  src: url('San-Francisco/SF-Pro-Display-Ultralight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Ultralight';
  src: url('San-Francisco/SF-Pro-Display-UltralightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text Bold';
  src: url('San-Francisco/SF-Pro-text-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text Bold';
  src: url('San-Francisco/SF-Pro-Text-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text Heavy';
  src: url('San-Francisco/SF-Pro-text-heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text Heavy';
  src: url('San-Francisco/SF-Pro-Text-HeavyItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text Light';
  src: url('San-Francisco/SF-Pro-text-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text Light';
  src: url('San-Francisco/SF-Pro-Text-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text Medium';
  src: url('San-Francisco/SF-Pro-text-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text Medium';
  src: url('San-Francisco/SF-Pro-Text-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text Regular';
  src: url('San-Francisco/SF-Pro-text-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text Regular';
  src: url('San-Francisco/SF-Pro-Text-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text Semibold';
  src: url('San-Francisco/SF-Pro-text-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text Semibold';
  src: url('San-Francisco/SF-Pro-Text-SemiboldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}